<div class="row h-full">
  <div class="col h-full w-10/24 mr-1/24">
    {% block leftColumn %}{% endblock %}
  </div>
  <div class="col w-10/24">
    {% block rightColumn %}{% endblock %}
  </div>
</div>