<page-footer>
  <div class="container">

    {% block footer %}

      <div class="row justify-between items-end ">
      <div class="col w-12/24 flex items-end ">
        {% include "svg/sdk.twig" %}
        <div class="ml-1/24 p3" style="line-height: 1">sdkvastgoed.nl</div>
      </div>
      <div class="col flex items-end">
        <div class="ml-1/24 small text-primary">Disclaimer</div>
        <div class="ml-1/24 small text-primary">Privacyverklaring</div>
      </div>
      </div>

    {% endblock %}

  </div>
</page-footer>
