.logo {
  margin-top: calc($page-header-height-lg / 2);
}

.hero {
  height: calc(100vh - $page-header-height-sm);
}

@screen md {
  .hero {
    height: calc(100vh - $page-header-height-md);
  }
}

@screen lg {
  .hero {
    height: calc(100vh - $page-header-height-lg);
  }
}
