.section-timeline {
  .accordion {
    .accordion-slide {
      @apply border-black border-t;
      .accordion-button {
        @apply py-8 cursor-pointer;
      }
      .accordion-content {
        @apply  pb-8;
      }
      &:last-child {
        @apply border-black border-b;
      }
    }
  }
}