<div class="row">
  <div class="col mx-auto relative w-22/24 md:w-21/24">
    {% set ratio = 'contain' %}
    {% if content.fit %}
      {% set ratio = 'fit' %}
    {% endif %}
    {% include "components/lazy-image.twig" with {
      image: content.image,
      ratio: 'original',
      size: 'landscape',
      loose: true
    } %}
    <p class="subtext">
      {{ content.subtext }}
    </p>
  </div>
</div>