<div class="row">
  <div class="col mx-auto md:w-21/24">
    <h1 class="h0 mb-32 no-breaks">
      {{ content.columns.leftColumn.header }}
    </h1>
    <p class="p1 mb-20">{{ content.columns.leftColumn.text }}</p>
  </div>
</div>

<div class="row">
  <div class="col mx-auto md:w-17/24">
      <div class="p3">
      {{ content.columns.rightColumn.text }}
      </div>
  </div>
</div>

