{# Default page #}

{% extends "layout/base.twig" %}

{% set mainClass = ['page-' ~ post.slug] %}

{% block main %}

  <div class="page-header-offset"></div>

{% endblock %}

{% block scripts %}{% endblock %}