{# Default page #}

{% extends "layout/base.twig" %}

{% set bodyClass = ['no-page-header'] %}
{% set mainClass = ['page-' ~ post.slug, 'bg-white', 'no-page-header'] %}

{% block main %}



  {% for page in post.meta("pages") %}

    <div class="section">
      <div class="container">

        {% if page.acf_fc_layout == "front" %}
          {% include "pages/partials/plan-front.twig" with {
                  content: page
                } %}
        {% elseif page.acf_fc_layout == 'title' %}
          {% include "pages/partials/plan-title.twig" with {
                  content: page
                } %}
        {% elseif page.acf_fc_layout == 'imageSpread' %}
          {% include "pages/partials/plan-spread.twig" with {
                  content: page
                } %}
        {% elseif page.acf_fc_layout == 'columns' %}
          {% include "pages/partials/plan-columns.twig" with {
                  content: page
                } %}
        {% endif %}

      </div>
    </div>

  {% endfor %}

  <div class="row justify-center py-12">
  <div class="col">
    <a @click="returnHome" data-home="{{ site.link }}" class="button">terug</a>
  </div>
  </div>

{% endblock %}

{% block scripts %}{% endblock %}