.button {
  @apply border-black border rounded-full inline-block;
  font-family: Matter-Regular;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 1;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 3px;
  padding-bottom: 7px;
}

@screen md {

}

@screen lg {
  .button {
    font-size: 22px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 10px;
  }
}