.button {
  @apply border-black border rounded-full inline-block;
  font-family: Matter-Regular;
  font-size: 22px;
  letter-spacing: 0.19px;
  line-height: 1;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 3px;
  padding-bottom: 10px;
}