<section class="section md:-mb-48 lg:-mt-56 lg:-mb-64 relative z-10 pointer-events-none">
  <div class="container">
    <div class="row">
      <div class="col w-22/24 md:w-17/24 mx-auto lg:w-11/24 lg:mr-1/48 lg:ml-auto">
        <div class="w-full bg-white-85 p-2/24 md:p-1/24 pb-12 pointer-events-auto">
          <h3 class="h3 mb-12">
            {{ content.header }}
          </h3>
          <div class="p3 mb-10">
            {{ content.text }}
          </div>
          <a href="https://account.ekp-denbosch.nl" target="_blank" class="button">enquête</a>
        </div>
      </div>
    </div>
  </div>
</section>