<section class="section -mt-56 -mb-64 relative z-10 pointer-events-none">
  <div class="container">
    <div class="row">
      <div class="col w-11/24 mr-1/48 ml-auto">
        <div class="w-full bg-white-85 p-8 pb-12 pointer-events-auto">
          <h3 class="h3 mb-12">
            Denk & doe mee<br>
            met EKP
          </h3>
          <p class="p3 mb-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quod accusantium, veritatis accusamus facere laudantium eaque perspiciatis dolores facilis qui, omnis ducimus quam eligendi iure temporibus et, reprehenderit tempore impedit.
          </p>

          <a href="#" class="button">enquête</a>
        </div>
      </div>
    </div>
  </div>
</section>