<div id="section-location" class="section section-location">
  <div class="container">

  <div class="row">
    <div class="col w-22/24 mx-auto">
      <figure class="strict landscape relative">
        <location>
          {{ function('do_shortcode', '[gc_wp_mapbox_gl_js map_id="105"] ') }}
        </location>
      </figure>

    </div>
  </div>
  </div>
</div>