<div id="section-plan" class="section section-plan">
  <div class="container h-full">

    <div class="section w-22/24 md:w-15/24 mx-auto lg:w-full h-full bg-white px-2/24 md:px-1/24">

      <div class="hidden lg:block">
      <flickity-slider :is-plan="true" class="plan-slider">
        {% for page in plan.meta("pages") %}

          <div class="flickity-slide plan-slide">

            {% if page.acf_fc_layout == "front" %}
              {% include "content/partials/plan-front.twig" with {
                content: page
              } %}
            {% elseif page.acf_fc_layout == 'title' %}
              {% include "content/partials/plan-title.twig" with {
                content: page
              } %}
            {% elseif page.acf_fc_layout == 'imageSpread' %}
              {% include "content/partials/plan-spread.twig" with {
                content: page
              } %}
            {% elseif page.acf_fc_layout == 'columns' %}
              {% include "content/partials/plan-columns.twig" with {
                content: page
              } %}
            {% endif %}

          </div>

        {% endfor %}
      </flickity-slider>
      </div>

      <div class="block lg:hidden pointer-events-auto">
        <h3 class="h3 hidden md:block">Het Plan</h3>
        <h3 class="h2 mb-8 md:hidden">Het Plan</h3>
        <p class="p3 mb-8">{{ content.text }}</p>
        <a href="{{ site.link }}/plan" class="button">lees meer</a>
      </div>

    </div>

  </div>
</div>