<div class="section section-text">
  <div class="container">

    <div class="row">
      <div class="col w-8/24 ml-3/24 lg:w-10/24 lg:ml-1/24">
        <p>
          {{content.leftColumn.quote}}
        </p>
        <p class="small italic">
            {{content.leftColumn.person}}
        </p>
      </div>
       <div class="col w-8/24 lg:w-10/24 ml-1/24">
        <p>
          {{content.rightColumn.quote}}
        </p>
        <p class="small italic">
            {{content.rightColumn.person}}
        </p>
      </div>
    </div>

  </div>
</div>