<div class="section section-slider">
  <div class="container">
    <div class="row">
      <div class="col mx-auto w-22/24 md:w-21/24 lg:w-19/24">

        {% include "components/slider.twig" with {
          slides: content.slides
        } %}

      </div>
    </div>
  </div>
</div>