<div class="section section-video">
<div class="container">
  
  <div class="row">
    
    <div class="col w-22/24 md:w-21/24 lg:w-19/24 h-full mx-auto relative">
      <video-player source="{{ content.video }}" thumbnail="{{ content.thumbnail|get_timber_image_src('landscape') }}" type="video/mp4"></video-player>    
    </div>

  </div>

</div>
</div>